<h1>Книжный магазин</h1>

<div class="books">
  <% books.forEach(book => { %>
    <div class="book">
      <h3><%= book.title %></h3>
      <p>Автор: <%= book.author %></p>
      <p>Цена: <%= book.price %> €</p>
    </div>
  <% }) %>
</div>
